// layout
#pageLoaded {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #000;
}

// header style
#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5%;

	h1 {
		display: inline-block;

		.img_logo {
			width: 70px;
			vertical-align: middle;
		}
	}
	nav ul {
		li {
			float: left;
			position: relative;

			&:not(:last-child):after {
				content: '|';
				margin: 0 10px;
			}
		}

		.study_list--wrap {
			position: absolute;
			top: 20px;
			right: 30px;
		}
	}
}

// main style
#main {
	padding-top: 63.75px;
	flex: 1;

	section {
		padding-left: 5%;
		padding-right: 5%;
	}

	.section1 {
		background-color: pink;
	}
}

// footer style
#footer {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 780px) {
}

@media screen and (min-width: 320px) {
}

// icon
.icon {
	display: inline-block;
	background-position: 0 0;
	background-repeat: no-repeat;
}

// popup-layer
.popup-layer {
	transform: scale(0);
	transition: .25s transform;
	background-color: #eee;
	padding: 10px 20px;
	border-radius: 5px;
	white-space: nowrap;

	max-width: 14em;
	padding: .6em .8em;
	border-radius: .3em;
	margin: .3em 0 0 -.2em;
	background: #fed;
	border: 1px solid rgba(0, 0, 0, .3);
	box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
	font-size: 75%;

	&.is-show {
		transition: .5s cubic-bezier(.25, .1, .3, 1.5) transform;
		transform: scale(1);
	}

	&:before {
		content: '';
		position: absolute;
		top: -5px;
		padding: 0.35em;
		background: inherit;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		transform: rotate(45deg);
	}

	&.arrow-top-left {
		transform-origin: left top;
		&:before {
			left: 10px;
		}
	}
	&.arrow-top-center {
		transform-origin: center top;
		&:before {
			left: 50%;
		}
	}
	&.arrow-top-right {
		transform-origin: right top;
		&:before {
			right: 10px;
		}
	}
}

// page-loading
#pageLoading {
	:root {
		position: relative;
		width: 100%;
		height: 100%;
	}

	figure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// content-loading
@keyframes loading {
	to {
		background-position: -800px 0;
	}
}
.loading {
	display: inline-block;
	background: url('/src/assets/img/loading.png') 0 0 no-repeat;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	animation: loading 1s infinite steps(8);
	white-space: nowrap;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .2);
}
