@import './common.scss';
#header {
	position: absolute;

	.logo {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
}
#main {
	section {
		position: relative;
	}
	.section1 {
		min-height: 100vh;
		padding-top: 100px;
		background-color: black;
		.intro {
			font-weight: bold;
			color: #fff;
			font-size: 15vw;

			.name {
				text-align: right;

				mark {
					position: relative;
					background: none;
					color: inherit;
					display: block;

					&:hover {
						color: rgba(242, 60, 73, 1);
						&::before {
							content: '90년생 김찬호 === ';
							font-size: 1vw;
						}
					}
				}
			}
		}
	}
	.section2 {
		padding-top: 100px;
		background-color: black;
		figure {
			position: relative;
			text-align: center;
			width: 50vw;
			display: inline-block;

			.selfie {
				width: 100%;
				filter: grayscale(1);

				&:hover {
					filter: none;
				}
			}

			figcaption {
				color: #fff;
				position: absolute;
				bottom: -10px;
				left: 5%;
				font-size: 20px;
				transform: rotate(30deg);
			}
		}
		.description {
			color: #fff;
			font-size: 2rem;
			width: 40vw;
			float: right;
			white-space: nowrap;
			line-height: 2.5;

			span:hover {
				strong {
					color: yellowgreen;
				}
			}
		}
	}
}
