<h1>
	<a href="/public/">
		<figure>
			<img src="/src/assets/img/logo2.png" alt="구공찬" class="img_logo" />
		</figure>
	</a>
</h1>
<nav id="gnb">
	<ul class="clearfix">
		<li><a href="/public/portfolio/">portfolio</a></li>
		<li class="gnb_item study">
			<a href="#" class="open-popup-layer">study</a>
			<ul class="study_list--wrap popup-layer arrow-top-right">
				<li>
					<a href="/public/study/typescript/">simple game with typescript</a>
				</li>
			</ul>
		</li>
		<!-- <li><a href="/public/about/">about</a></li> -->
	</ul>
</nav>
