body {
	overflow: hidden;
}

#header {
	background-color: rgb(20, 20, 20);
}

#main {
	background-color: #141414;

	.nav {
		width: 100%;
		padding: 0 60px;
		box-sizing: border-box;
		position: relative;

		.handler {
			background: rgba(20, 20, 20, 0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;
			width: 60px;
			text-align: center;
			cursor: pointer;

			&.prev {
				left: 0;
				transform: rotate(180deg);
			}
			&.next {
				right: 0;
			}
			&:hover {
				.icon {
					transform: scale(1.2);
				}
			}
			.icon {
				width: 50%;
				height: 100%;
			}
		}

		.nav_item--wrap {
			display: flex;
		}

		.nav_item {
			box-sizing: border-box;
			z-index: 1;
			display: inline-block;
			position: relative;
			white-space: normal;
			vertical-align: top;
			padding: 0 2px;
			background: #808080;
			color: #000;
			width: calc(100% / 3);
			height: 200px;

			&.is-active {
				// border: 2px solid red;

				&::after {
					content: '';
					position: absolute;
					bottom: -3px;
					left: 50%;
					padding: 0.35em;
					background: inherit;
					border: inherit;
					border-right: 0;
					border-bottom: 0;
					transform: rotate(-135deg) translateX(-50%);
				}
			}
		}
	}

	.content--wrap {
		background-color: #fff;
		width: 100%;
		min-height: 400px;
		margin-top: 5px;
	}
}

#footer {
	background-color: #141414;
}

.content {
	&.number-baseball {
		.choosen-number {
			display: inline-block;
			border: 1px solid #eee;
			padding: 5px;
		}
	}

	&.js-stone {
		.player--wrap {
			border: 2px solid #112233;
			background-color: #eee;
			display: flex;

			.field {
				border: 1px solid black;
				flex: 1;
			}

			.deck {
				border: 1px solid red;
				width: 300px;
			}

			.card {
				width: 75px;
				height: 120px;
				display: inline-block;
				position: relative;
				margin-bottom: 10px;
				background: white;
				user-select: none;

				&.type_hero {
					border: 1px solid gold;
				}

				&.type_normal {
					border: 1px solid brown;
				}

				i {
					display: inline-block;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					color: #fff;
					border-radius: 50%;
				}
				.card_cost {
					background-color: gray;
				}
				.card_att {
					background-color: black;
				}
				.card_hp {
					background-color: red;
				}
			}
		}

		.card-selected {
			border: 2px solid red;
		}
		.card-turnover {
			background: gray;
		}

		.current-situation {
			margin: 10px auto;
			text-align: center;

			.button {
				float: right;
			}
		}
	}

	&.rock-paper-scissors {
		#computer {
			width: 142px;
			height: 200px;
			background-position: 0 0;
		}
	}

	&.pair {
		.card {
			border: 1px solid black;
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
			width: 70px;
			height: 100px;
			perspective: 140px;
		}
		.card-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
		}

		.card.flipped .card-inner {
			transform: rotateY(180deg);
		}

		.card-front {
			background: navy;
		}

		.card-front,
		.card-back {
			position: absolute;
			width: 100%;
			height: 100%;
			border: 1px solid black;
			backface-visibility: hidden;
		}

		.card-back {
			transform: rotateY(180deg);
		}
	}

	&.tic-tac-toe {
		table {
			border-collapse: collapse;
		}
		td {
			border: 1px solid black;
			width: 40px;
			height: 40px;
			text-align: center;
		}
	}
}
